<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>app_ak</key>
	<string>cc9821fadc02cb2cb90df37a6703b9af</string>
	<key>app_sk</key>
	<string>93008cfd514ce5810e107c4a1c89d08b</string>
</dict>
</plist>
